
body {
	/* background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");*/ 
	/* background-image: url("https://c1.staticflickr.com/8/7163/6769877431_c0df769478_b.jpg"); */
	 background-image: url("https://wallpaper-house.com/data/out/12/wallpaper2you_481766.jpg");
	background-color: #cccccc;
	margin: 0;
}

#outer {
  width: 100%;
  text-align: center;
}
#inner {
  display: inline-block;
}
	
div.a {
    text-align: center;
	font-family: 'Poor Story', cursive;
}


/* Chrome & Opera */
input[type="range"]{
	position: absolute;
    top: 40%;
	transform: rotate(270deg);
	width:280px;
	height:40px;
	-webkit-appearance: none;
	outline:none;
	border-radius:20px;
	background:#41d9f4;
	border:2px solid #000;
}
input[type="range"]::-webkit-slider-runnable-track{
	height:8px;
	background:#4171f4;
	border-radius:10px;
	transition:.4s;
}
input[type="range"]:hover::-webkit-slider-runnable-track,
input[type="range"]:focus::-webkit-slider-runnable-track{
	background:#4641f4;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	width:15px;
	height:34px;
	background:red;
	border-radius:18px;
	margin-top:-13px;
	cursor:pointer;
	border:3px solid #41d9f4;
	transition:.4s;
}
input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb{
	background: darkorange;
}

/* Firefox */
input[type="range"]::-moz-focus-outer{
	border:0;
}
input[type="range"]::-moz-range-track{
	height:0px;
	background:#4171f4;
	border-radius:10px;
}
input[type="range"]:hover::-moz-range-track,
input[type="range"]:focus::-moz-range-track{
	background:#4641f4;
}
input[type="range"]::-moz-range-thumb{
	width:0px;
	height:0px;
	background:black;
	border-radius:6px;
	cursor:pointer;
	border:0px solid #41d9f4;
}
input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb{
	background:black;
}
input[type="range"]::-moz-range-progress{
	background:#0080ff;
	border-radius:4px;
	height:36px;
	border-radius:15px;
}
input[type="range"]:hover::-moz-range-progress,
input[type="range"]:focus::-moz-range-progress{
	background:blue;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}